/* Estilos generales */
body {
    font-family: sans-serif; /* Establece la fuente del texto a una fuente sans-serif */
    margin: 0;          /* Elimina el margen predeterminado del cuerpo de la página */
    padding: 0;         /* Elimina el relleno predeterminado del cuerpo de la página */
    background-color: #f4f4f4;  /* Establece el color de fondo de la página a un gris claro */
    color: #333;           /* Establece el color del texto principal a un gris oscuro */
    display: flex;       /* Utiliza Flexbox para el diseño de la página */
    flex-direction: column;  /* Organiza los elementos en una columna */
    min-height: 100vh;    /* Establece la altura mínima del cuerpo al 100% de la altura de la ventana */
                        /* Esto asegura que el pie de página se pegue a la parte inferior
                           incluso si el contenido principal no llena toda la pantalla */
}

header, footer {
    background-color: #b71010;  /* Establece el color de fondo del encabezado y pie de página a negro */
    color: white;          /* Establece el color del texto del encabezado y pie de página a blanco */
    text-align: center;    /* Centra el texto horizontalmente en el encabezado y pie de página */
    padding: 1em 0;       /* Agrega relleno vertical (arriba y abajo) al encabezado y pie de página */
}

header h1 {
    margin: 0;          /* Elimina el margen predeterminado del encabezado h1 para un mejor control del espaciado */
}

main {
    padding: 20px;        /* Agrega relleno alrededor del contenido principal */
    flex: 1;            /* Permite que la sección <main> se expanda y ocupe el espacio restante */
                        /* Esto es importante para empujar el pie de página hacia la parte inferior */
}

main h2 {
    color: #334799;      /* Establece el color del texto para los encabezados <h2> a un color púrpura */
    background-color: #3c923f;
}

main p {
    line-height: 0.6;    /* Establece el espaciado entre líneas para mejorar la legibilidad del texto en los párrafos */
}

footer {
    margin-top: auto;    /* Empuja el pie de página hacia la parte inferior de la ventana del navegador */
                        /* Esto asegura que el pie de página esté siempre en la parte inferior,
                           incluso si el contenido principal es corto */
}
